@import "vars";
@import "./vendor/reset.scss";
@import "./blocks/mixsins";

html {
    font-size: 62.5%;
}

// div,nav,h1 {
//     outline: 2px solid red;
// }

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe\ UI, Roboto, Helvetica\ Neue, Arial, Noto\ Sans, sans-serif;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
    

}


*,
*::before,
*::after {
    box-sizing: border-box;
}





// Blocks 

@import "./blocks/container";
@import "./blocks/aside";
@import "./blocks/header";
@import "./blocks/burger";
@import "./blocks/nav";
@import "./blocks/page";
@import "./blocks/about";
@import "./blocks/tech";
@import "./blocks/works";
@import "./blocks/form";
@import "./blocks/icons";
@import "./blocks/footer";
@import "./blocks/docSlider";


