.footer{
    padding: 5rem 0;
    background-color: #181c24;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__phone{
        font-size: 2rem;
        margin-top: 1.5rem; 
        text-align: center;

        &-link{
            text-decoration: none;
            color: $white;
            font-weight: bold;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__copyright{
        margin-top: 1.5rem;
        text-align: center;
    }
}