.form {
    // padding-top: 10rem;
    // padding-bottom: 10rem;
    background: linear-gradient(to right, #1163cd, #973ddb);
    //height: 100vh;
    
    @include breakpoint($mobile){
        // padding: 8rem 0;
        // padding-top: 2rem;
    }

    &__content{
        //height: 100vh;
        padding-top: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;


        @include breakpoint($mobile){
            flex-direction: column-reverse;
            padding-top: 1rem;
            padding-bottom: 5rem;
        }

        &-left {
            width: 55rem;

            overflow: hidden;
            padding: 5rem;

            border-radius: 4px;
            background-color: #ffff;
            box-shadow: 5px 2px 8px 4px rgba(7, 7, 7, 0.2);

            &__header{
                display: flex;
                align-items: center;
            }


            &-title{
                display: block;
                width: 50%;

                font-family: $ff;
                font-size: 2.4rem;
                font-weight: bold;
                color: #1163cd;
                padding: 1rem;
                padding-left: 0;
                padding-bottom: 0;
                
                @include breakpoint($mobile){
                    font-size: 1.8rem;
                }

            }

            @include breakpoint($mobile){
                width: 100%;

                padding: 2rem;
            }
        }
    
        &-right {
            width: 50%;
            
            @include breakpoint($mobile){
                width: 100%;
            }
            

            &-img{
                display: block;
                
                margin: 0 auto;
                // margin-left: 15rem;

                @include breakpoint($mobile){
                    margin-left: auto;

                    width: 30rem;
                    height: 29rem;
                }

                @include breakpoint($iphone5){
                    width: 26.5rem;
                }
            }
        }
    }
}


.form1{
    

    label{
        display: block;
        font-family: $ff;
        font-size: 1.6rem;
        font-weight: normal;
        color: black;
        

        padding: 1rem;
        padding-left: 0;

        margin-top: 1rem;

        
    }

    input{
        font-family: $ff;
        font-size: 2rem;                                    

        display: block;
        background: rgba(0, 0, 0, 0.1);
        border: none;
        outline: none;
        width: 100%;
        border-radius: 4px;
        padding: 1.2rem;

        
        &::placeholder{
            font-size: 1.6rem;
        }
    }

    textarea{
        display: block;
        width: 100%;
        height: 10rem;

        font-family: $ff;
        font-size: 2rem;

        padding: 1.2rem;
        overflow: hidden;
        resize: none;
        background: rgba(0, 0, 0, 0.1);
        outline: none;
        border: none;
        border-radius: 4px;

        &::placeholder{
            font-size: 1.8remыв;
        }
    }

    &__submit{
        width: 100%;
        font-family: $ff;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 4px;
        padding: 1.5rem;
        color: $white;
        margin-top: 3rem;
        background: linear-gradient(to left, #1163cd, #973ddb);

    }
}