.icons {
    display: flex;

    &-form {
        width: 50%;
        justify-content: flex-end;
    }

    &__item {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        &-icon {

            &-footer {
                width: 45px;
                height: 45px;


                transition: fill .2s linear;

                &:hover {
                    fill: #fff;
                }

                &-telegram {
                    &:hover {
                        fill: #08c;
                    }
                }

                &-phone {
                    &:hover {
                        fill: #00ff00;
                    }
                }
            }

        }
    }
}