.nav {
    width: 100%;
    
    position: fixed;
    top: 1.5rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    
    
    @include breakpoint($mobile) {
        display: none;
        padding: 0;
    }

    &--aside {
        @include breakpoint($mobile) {
           display: block;
          
        }
        position: absolute;
        top: 50%;
        left: 2rem;

        transform: translateY(-50%);
    }


}

.nav__list {
    display: flex;
    justify-content: center;

    &--aside{
        @include breakpoint($mobile) {
            flex-direction: column;
            
        }
    }
    
}

.nav__item {
    position: relative;

    margin: 0 7rem;

    &--aside{
        @include breakpoint($mobile) {
            margin: 1rem 0;
            
        }
    }


    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }



    &:after {

        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid $white;
        transform: scaleX(0);

        position: absolute;
        bottom: -5px;

        transition: transform 0.1s ease-in-out
    }

    a {
        text-decoration: none;
    }

    &:hover:after {
        transform: scaleX(1);
    }
}


.nav__link {

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
    color: $white;



}

.nav__hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($white, 0.75), rgba(0, 0, 0, 0));
   

}