.nav {
    padding-top: 5rem;
    padding-bottom: 2.4rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__item {
    position: relative;

    &:after {
        
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid $white;
        transform: scaleX(0);

        position: absolute;
        bottom: -5px;

        transition: transform 0.1s ease-in-out
    }


    &:hover:after {
        transform: scaleX(1);
    }
}


.nav__link {

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
    color: $white;


}

.nav__hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($white, 0.75), rgba(0, 0, 0, 0));

}