.tech {
    background: darken($color: #224d6a, $amount: 0.2);
    

    @include breakpoint($mobile) {
        padding: 5rem 0;

    }

    
}

.tech__content {
    
    padding-top: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint($mobile) {
        flex-direction: column;
        padding-top: 3rem;
    }

    &-left {
        width: 40%;

        @include breakpoint($mobile) {
            width: 100%;
            margin-bottom: 3rem;

            text-align: center;
        }
    }

    &-right {
        width: 60%;
        transform: rotate(-50deg);

        @include breakpoint($mobile) {
            width: 100%;
            transform: none;
            padding-bottom: 2rem;
        }


        @media(width: 1024px) {
            width: 75%;
        }


    }

    &-title {
        //max-width: 40rem;
        margin-bottom: 6rem;

        font-family: Myriad Pro, sans-serif;
        font-size: 4rem;
        font-weight: normal;
        line-height: 1.2;

        @include breakpoint($mobile) {
            font-size: 2.5rem;

            margin-bottom: 3rem;
        }
    }

    &-text {
        //max-width: 45rem;

        font-family: $ff;
        font-size: 1.8rem;
        line-height: 1.6;

        p {
            margin-bottom: 5rem;

            @include breakpoint($mobile) {
                margin-bottom: 3rem;
            }


            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.tech__blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    &-item {
        width: 15rem;
        height: 15rem;


        margin: 0.3rem 0.3rem;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        background-color: #1c1c20;

        transition: background-color .4s linear;

        @include breakpoint($mobile) {
            width: 30%;
            height: 13.5rem;
        }

        @include breakpoint($iphone5) {
            width: 47%;
            height: 15rem;
        }

        &-content {
            transform: rotate(50deg);

            @include breakpoint($mobile) {
                transform: none;
            }
        }

        &--4 {
            margin-left: 15rem;

            @include breakpoint($mobile) {
                margin-left: 0.3rem;
            }
        }

        &:hover {
            background-color: $white;

            .tech__blocks-text {
                color: #000;
            }
        }


    }

    &-icon {
        display: block;
        width: 5rem;
        height: 5rem;

        margin: 0 auto;

        &--gulp {
            width: 6rem;
            height: 6rem;

            @include breakpoint($mobile) {
                margin-top: -1rem;
            }
        }

        &--sass {
            padding-left: 0.5rem;

        }

        &--css {
            margin-top: .5rem;

            @include breakpoint($mobile) {
                margin-top: 0;
            }
        }

        &--git {
            margin-top: 1rem;

            @include breakpoint($mobile) {
                margin-top: 0;
            }
        }
    }

    &-text {
        margin-top: 1rem;
        color: $white;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;

        transition: color .3s linear;
    }

}