.tech {
    background: darken($color: #224d6a, $amount: 0.2);
    background-size: cover;

    // position: relative;


    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: 100%;

    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 1;

    //     background: linear-gradient(to bottom, rgb(24, 28, 36) 3%,  rgba(24, 28, 36, 0.1) 30%);

    //     background: -moz-linear-gradient(top, rgba(47, 161, 229, 0.2) 1%, rgba(29, 57, 76, 0.2) 90%, rgba(27, 47, 62, 0.7) 98%, rgba(27, 45, 59, 0.7) 100%);
    //     background: -webkit-linear-gradient(top, rgba(47, 161, 229, 0.2) 1%, rgba(29, 57, 76, 0.2) 90%, rgba(27, 47, 62, 0.7) 98%, rgba(27, 45, 59, 0.7) 100%);
    //     background: linear-gradient(to bottom, rgba(47, 161, 229, 0.2) 1%, rgba(29, 57, 76, 0.2) 90%, rgba(27, 47, 62, 0.7) 98%, rgba(27, 45, 59, 0.7) 100%);
    //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#332fa1e5', endColorstr='#b31b2d3b', GradientType=0);




    // }


}

.tech__content {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &-left {
        width: 40%;

    }

    &-right {
        width: 60%;

        transform: rotate(-50deg);
    }

    &-title {
        max-width: 40rem;
        margin-bottom: 6rem;

        font-family: Myriad Pro, sans-serif;
        font-size: 4rem;
        font-weight: normal;
        line-height: 1.2;
    }

    &-text {
        max-width: 45rem;

        font-family: $ff;
        font-size: 1.8rem;
        line-height: 1.6;

        p {
            margin-bottom: 5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.tech__blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
        width: 15rem;
        height: 15rem;

        margin: 0.3rem 0.3rem;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        background-color: #1c1c20;

        transition: background-color .4s linear;

        &-content{
            transform: rotate(50deg);
        }

        &--4{
            margin-left: 15rem;
        }
        
        &:hover{
            background-color: $white;

            .tech__blocks-text{
                color: #000;
            }
        }

        
    }

    &-icon{
        display: block;
        width: 5rem;
        height: 5rem;

        margin: 0 auto;
        
        &--gulp{
            width: 6rem;
            height: 6rem;
        }

        &--sass{
            padding-left: 0.5rem;
        }

        &--css{
            margin-top: .5rem;
        }

        &--git{
            margin-top: 1rem;
        }
    }

    &-text{ 
        margin-top: 1rem;
        color: $white;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;

        transition: color .3s linear;
    }

}