<aside class="aside show-menu">
    <div class="aside__menu">
        <nav class="nav nav--aside">
            <ul class="nav__list nav__list--aside">
                <li class="nav__item nav__item--aside active"><a class="nav__link" href=""
                    data-menu__link="">Главная</a></li>
                <li class="nav__item nav__item--aside"><a class="nav__link" href="" data-menu__link="">Обо мне</a></li>
                <li class="nav__item nav__item--aside"><a class="nav__link" href="" data-menu__link="">Технологии</a>
                </li>
                <li class="nav__item nav__item--aside"><a class="nav__link" href="" data-menu__link="">Мои работы</a>
                </li>
                <li class="nav__item nav__item--aside"><a class="nav__link" href="" data-menu__link="">Написать мне</a>
                </li>
            </ul>
            <hr class="nav__hr">
        </nav>
    </div>
</aside>