<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <ul class="icons icons-footer">
                <li class="icons__item">
                    <a class="icons__item-link" target="_blank" href="mailto:fadeev2999@yandex.ru">
                        <svg class="icons__item-icon icons__item-icon-footer icons__item-icon-footer-mail">
                            <use xlink:href="#email">
                        </svg>
                    </a>
                </li>
                <li class="icons__item">
                    <a class="icons__item-link" target="_blank" href="https://t.me/d1rext">
                        <svg class="icons__item-icon icons__item-icon-footer icons__item-icon-footer-telegram">
                            <use xlink:href="#telegram">
                        </svg>
                    </a>
                </li>
                <li class="icons__item">
                    <a class="icons__item-link" href="tel:+796255110658">
                        <svg class="icons__item-icon icons__item-icon-footer icons__item-icon-footer-phone">
                            <use xlink:href="#phone">
                        </svg>
                    </a>
                </li>
                <li class="icons__item">
                    <a class="icons__item-link" href="tel:+796255110658">
                        <svg class="icons__item-icon icons__item-icon-footer icons__item-icon-footer-github">
                            <use xlink:href="#github">
                        </svg>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="footer__phone">
            <a class="footer__phone-link" href="tel:+79625510658">+7 (962) 551 06 58</a>
        </div>
        <div class="footer__copyright"">Made by Heniks <br><div style="color:red; margin-top: 5px">&#10084;</div></div>
    </div>
</footer>