<header class="header" id="header">

    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item active"><a class="nav__link" href="" data-menu__link="">Главная</a></li>
                <li class="nav__item"><a class="nav__link" href="" data-menu__link="">Обо мне</a></li>
                <li class="nav__item"><a class="nav__link" href="" data-menu__link="">Технологии</a></li>
                <li class="nav__item"><a class="nav__link" href="" data-menu__link="">Написать мне</a></li>
                <li class="nav__item"><a class="nav__link" href="" data-menu__link="">Конец</a></li>
            </ul>
        </nav>
        <hr class="nav__hr">
    </div>

</header>