<header class="header" id="header">
    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#header">Главная</a></li>
                <li class="nav__item"><a class="nav__link" href="#about">Обо мне</a></li>
                <li class="nav__item"><a class="nav__link" href="#tech">Технологии</a></li>
                <li class="nav__item"><a class="nav__link" href="#works">Мои работы</a></li>
                <li class="nav__item"><a class="nav__link" href="#form">Написать мне</a></li>
            </ul>
            <hr class="nav__hr">
        </nav>

        <button class="burger" type="button" id="sidebarToggle">
            <span>Открыть навигацию</span>
        </button>

        <div class="header__inner">

            <div class="header__text">
                <h1 class="header__title">Привет,<br class="header__text-br-1"> меня зовут <br
                        class="header__text-br-2">Игорь</h1>
                <h3 class="header__subtitle">И я разрабатываю сайты</h3>
            </div>

            <div class="header__photo">
                <img class="header__img" src="./assets/images/myface.jpg" alt="Моё фото">
                <!-- <svg class="header__img">
                    <use xlink:href="#monitor">
                </svg> -->
            </div>
        </div>
    </div>

</header>