<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#header">Главная</a></li>
        <li class="nav__item"><a class="nav__link" href="#about">Обо мне</a></li>
        <li class="nav__item"><a class="nav__link" href="#tech">Технологии</a></li>
        <li class="nav__item"><a class="nav__link" href="#works">Мои работы</a></li>
        <li class="nav__item"><a class="nav__link" href="#form">Написать мне</a></li>
    </ul>
    <hr class="nav__hr">
</nav>